#result {
  display: none;
}

.heading {
  background-color: #234567;
  color: #e9ecef;
}

.sizeChoice {
  background-color: #aaeedd;
  font-size: 17px;
}

.choices {
  background-color: #e75252;
  font-size: 17px;
}
.sizeChoice, .heading {
  text-align: center;
}

#result {
  background-color: #9ec375;
}

#continue {
  position: absolute
  right: 0;
  bottom: 0;
}

#price {
  margin-top: 20px;
}

#orderResult {
  background-color: #3399ff;
  color: #e9ecef;
}

textarea {
  min-height: 300px;
  background-color: #3399ff;
  color: black;
  border: none;
}

#total {
  color: #000000;
}
